/* main.css */
@import url('./var.css');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fontfamily);
  overflow-x: hidden;
  background-color: var(--bg);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--rd);
  border-radius: 10px;
}
